{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/createStory.styles.css' %}">
{% endblock %}

{% block content %}
<div id="contents">
{% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
{% else %}
    <p> Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'users:createAccount' %}">create account</a> to create story.</p>

{% endif %}
</div>
{% endblock %}