{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/createStory.styles.css' %}">
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    <p>Are you sure you want to delete this story?</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="delete story">
    </form>
    <p>Story being deleted:</p>
    <p>{{newsstory.title}}</p>
    <p>{{newsstory.content}}</p>
{% else %}
    <p> Please <a href="{% url 'login' %}">login</a> to delete stories.</p>

{% endif %}

{% endblock %}