{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
<link rel='stylesheet' type='text/css' href="{% static 'news/styles.css' %}">
{% endblock%}
{% block content %}
<div id="story-wrapper">
  <h2>{{ story.title }}</h2>
  <h4>Written by: 
    <a href="{% url 'news:byAuthor' auth_id=story.author_id %}">{{ story.author }}
    </a>
  </h4>
  {% if request.user.id == story.author_id %}
    <a href="{% url 'news:storyEdit' pk=story.id %}">Edit this post</a>
    <a href="{% url 'news:storyDelete' pk=story.id %}">Delete this post</a>
  {% endif %}
    <div id="story-content">
    <img src="{{story.image_url}}"/>
    {{ story.content|linebreaks }}
  </div>
</div>
{% endblock %}